@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
section {
  display: block;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.content {
  padding: 20%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17252A;
  width: 100%;
  position: fixed;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 1% 0;
}
header nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
header nav .logo h2 {
  color: #FEFFFF;
}
header nav .links-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
header nav .links-wrapper .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
header nav .links-wrapper .links a {
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FEFFFF;
}
.home-slider-section {
  width: 100%;
}
.home-slider-section .slider .mySlides {
  height: 100vh;
  width: 100%;
  display: none;
}
#particles-js {
  height: 100vh;
  width: 100%;
  background-color: #30363d;
  position: absolute;
  z-index: -1;
}
body {
  background-color: #2B7A78;
}
.team_content_section {
  padding: 5%;
}
.team_content_section .team_member {
  width: 80%;
  margin: auto;
  padding: 5%;
}
.team_content_section .team_member .tm_content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  align-items: center;
}
.team_content_section .team_member .tm_content .tm_header h3 {
  text-align: center;
}
.team_content_section .team_member .tm_content .tm_header img {
  display: inline-block;
  width: 100%;
}
.team_content_section .bio {
  text-align: center;
  padding-top: auto 0;
}
