@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h2 {
  font-size: 3.9rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  h2 {
    font-size: 1.9rem;
  }
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
section {
  display: block;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}
@media (max-width: 800px) and (min-width: 501px) {
  header {
    position: relative;
    background-color: black;
  }
}
@media (max-width: 500px) {
  header {
    position: relative;
    background-color: black;
  }
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1%;
  height: 75px;
}
@media (max-width: 800px) and (min-width: 501px) {
  header nav {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding: 0;
  }
}
header nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
@media (max-width: 800px) and (min-width: 501px) {
  header nav .logo {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 500px) {
  header nav .logo {
    width: 100%;
    padding: 15px;
  }
}
header nav .logo h2 {
  color: #FEFFFF;
  font-size: 3.2rem;
}
header nav .logo a {
  text-decoration: none;
  padding: 0;
}
header nav .links-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
header nav .links-wrapper .mobile-links {
  display: none;
}
header nav .links-wrapper .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
@media (max-width: 800px) and (min-width: 501px) {
  header nav .links-wrapper .links {
    display: none;
  }
}
@media (max-width: 500px) {
  header nav .links-wrapper .links {
    display: none;
  }
}
header nav .links-wrapper .links a {
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FEFFFF;
}
header nav .mobile-links {
  display: none;
  width: 100%;
  background: #191919;
}
@media (max-width: 800px) and (min-width: 501px) {
  header nav a {
    color: white;
    padding: 26px 27px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  header nav a:hover {
    background-color: black;
  }
}
@media (max-width: 500px) {
  header nav a {
    color: white;
    padding: 26px 27px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}
header nav .icon {
  display: none;
}
@media (max-width: 800px) and (min-width: 501px) {
  header nav .icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 500px) {
  header nav .icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
header nav .icon:hover {
  background-color: #ddd;
  color: black;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
}
footer nav {
  padding: 1%;
  width: 50%;
}
@media (max-width: 500px) {
  footer nav {
    width: 100%;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  footer nav {
    width: 100%;
  }
}
footer nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav .links a {
  margin: 5% 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FEFFFF;
  width: 100%;
}
footer p {
  color: #FEFFFF;
  margin: 3% 0;
}
.nav-colored {
  background-color: black;
}
.nav-transparent {
  background-color: transparent;
}
.home-slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-slider-section .slider {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .home-slider-section .slider {
    height: auto;
    margin-bottom: 0;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .home-slider-section .slider {
    height: auto;
    margin-bottom: 0;
  }
}
.home-slider-section .slider .mySlides {
  width: 100%;
  height: 100%;
  display: none;
}
.home-slider-section .mySlides {
  object-fit: cover;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 100%;
  transition: visibility 2s, opacity 2s linear;
}
@media (max-width: 800px) and (min-width: 501px) {
  .home-slider-section .mySlides {
    height: auto;
  }
}
@media (max-width: 500px) {
  .home-slider-section .mySlides {
    height: auto;
  }
}
.home-slider-section .backdrop {
  background: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
@media (max-width: 800px) and (min-width: 501px) {
  .home-slider-section .backdrop {
    background: none;
  }
}
@media (max-width: 500px) {
  .home-slider-section .backdrop {
    background: none;
  }
}
.home-slider-section .slide-box-wrapper {
  transition: background 1s linear;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 800px) and (min-width: 501px) {
  .home-slider-section .slide-box-wrapper {
    padding-top: 50px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .home-slider-section .slide-box-wrapper {
    padding-top: 50px;
    height: auto;
  }
}
.home-slider-section .slide-box-wrapper .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.home-slider-section .slide-box-wrapper .box #clock {
  font-size: 10rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
@media (max-width: 800px) and (min-width: 501px) {
  .home-slider-section .slide-box-wrapper .box #clock {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .home-slider-section .slide-box-wrapper .box #clock {
    font-size: 2.5rem;
  }
}
.home-slider-section .slide-box-wrapper .box .Greeting {
  margin-top: 2%;
}
.home-slider-section .slide-box-wrapper .box h2,
.home-slider-section .slide-box-wrapper .box h3 {
  color: #FEFFFF;
  text-align: center;
}
.home-slider-section .slide-box-wrapper .box .typed {
  width: 50%;
  margin-top: 5%;
  color: #FEFFFF;
  font-size: 1.8rem;
  background: #0000008c;
  padding: 1%;
}
@media (max-width: 500px) {
  .home-slider-section .slide-box-wrapper .box .typed h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .home-slider-section .slide-box-wrapper .box .typed h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .home-slider-section .slide-box-wrapper .box .typed {
    font-size: 1.3rem;
    width: 80%;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .home-slider-section .slide-box-wrapper .box .typed {
    width: 80%;
    font-size: 1rem;
  }
}
.home-slider-section .slide-box-wrapper .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.home-slider-section .slide-box-wrapper .icon-box .icon {
  margin: 10%;
}
.home-slider-section .slide-box-wrapper .icon-box .icon i {
  color: white;
}
.section-title .pattern_overlayed {
  position: relative;
  background-color: black;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title .pattern_overlayed:before {
  content: "";
  opacity: 0.1;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/img/overlay.png);
}
.section-title .pattern_overlayed h2 {
  color: white;
}
@media (max-width: 800px) and (min-width: 501px) {
  .section-title .pattern_overlayed h2 {
    font-size: 2.5rem;
  }
}
.even-split-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.even-split-section .section-wrapper {
  max-width: 100%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .even-split-section .section-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .even-split-section .section-wrapper {
    flex-direction: column;
  }
}
.even-split-section .section-wrapper .box {
  width: 50%;
}
@media (max-width: 500px) {
  .even-split-section .section-wrapper .box {
    width: 100%;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .even-split-section .section-wrapper .box {
    width: 100%;
  }
}
.even-split-section .section-wrapper .box img {
  width: 100%;
}
.even-split-section .section-wrapper .box h2 {
  margin-bottom: 3%;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}
@media (max-width: 800px) and (min-width: 501px) {
  .even-split-section .section-wrapper .box h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .even-split-section .section-wrapper .box h2 {
    font-size: 2.5rem;
  }
}
.even-split-section .section-wrapper .box p {
  border-left: solid 5px black;
  padding: 2%;
  margin-top: 5%;
  background: #e6e6e691;
}
.section-parallax {
  padding: 0;
  background-image: url(/img/parallax-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-parallax .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-parallax .content .box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-parallax .content .box img {
  margin-bottom: -20%;
  width: 50%;
}
@media (max-width: 800px) and (min-width: 501px) {
  .reviews {
    margin-top: 15%;
  }
}
@media (max-width: 500px) {
  .reviews {
    margin-top: 15%;
  }
}
.reviews .review_slides {
  padding: 5%;
}
@media (max-width: 500px) {
  .reviews .review_slides {
    padding: 2.5%;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .reviews .review_slides {
    padding: 2.5%;
  }
}
.reviews .review_slides .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.reviews .review_slides .content .stars {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
}
.chrome_store {
  padding: 5%;
}
#particles-js {
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: -1;
}
#aboutNav {
  background-color: black;
}
.about-container {
  background-color: #FEFFFF;
  padding-top: 75px;
}
.mission {
  padding-top: 5%;
  width: 80%;
  text-align: center;
  margin: auto;
}
.mission h1 {
  font-size: 6rem;
  padding: 2%;
}
.mission p {
  padding: 3%;
  text-align: justify;
}
.mission .typed {
  background-color: #aaa9ad;
  padding: 2% 0;
}
@media (max-width: 500px) {
  .mission h1 {
    font-size: 4rem;
    padding-bottom: 5%;
  }
  .mission p {
    padding-top: 5%;
  }
  .mission .typed h3 {
    font-size: 2rem;
  }
  .mission .typed #typed {
    font-size: 2rem;
  }
}
.team-intro-header {
  text-align: center;
  padding: 3%;
}
@media (max-width: 500px), (max-width: 800px) and (min-width: 501px) {
  .team-intro-header h2 {
    font-size: 3rem;
  }
}
.team_content_section {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.team_content_section .team_member {
  margin: auto;
  padding: 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
}
.team_content_section .team_member .tm_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team_content_section .team_member .tm_image img {
  border-radius: 50%;
  max-width: 30%;
  margin: auto;
  vertical-align: center;
}
.team_content_section .team_member .tm_name {
  text-align: center;
}
.team_content_section .team_member .tm_name a {
  text-decoration: none;
  font-size: 2rem;
  vertical-align: middle;
  color: #aaa9ad;
}
@media (max-width: 500px), (max-width: 800px) and (min-width: 501px) {
  .team_content_section .team_member .tm_name h3 {
    font-size: 2rem;
  }
}
.team_content_section .team_member .bio {
  padding: 5%;
  background-color: #e9e9e9;
  margin: 2px;
}
.team_content_section .team_member .bio p {
  margin: auto;
  width: 100%;
}
@media (max-width: 500px) {
  .team_content_section .team_member .bio {
    display: none;
  }
}
@media (max-width: 500px), (max-width: 800px) and (min-width: 501px) {
  .team_content_section .team_member {
    padding: 5% 0;
  }
}
