.about-container {
    background-color: @secondary-color;
    padding-top:75px;
}

.mission {
    padding-top: 5%;
    width: 80%;
    text-align: center;
    margin: auto;

    h1 {
        font-size: 6rem;
        padding: 2%;
    }
}

.team-intro-header {
    text-align: center;
    font-size: 4rem;
    padding: 5%;
}

.team_content_section {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;

    .team_member {
        
        margin: auto;
        padding: 3% 0;
        .custom-layout(center,center);
        flex-direction:column;
        width: 35%; 
        
        .tm_image {
            .custom-layout(center,center);
            img {
                border-radius: 50%;
                max-width: 30%;
                margin: auto;
                vertical-align: center;
                
                
            }
        }

        .tm_name {
            text-align: center;
            
            

            a {
                text-decoration: none;
                font-size: 2rem;
            }
        }
               
        .bio {
            padding: 5%;
            border: solid black 1px;

            p{ 
                margin: auto;
                width: 100%;
            }
        }
        
    }


    
}



