header{
    .custom-layout(center,center);
    width:100%;
    position:fixed;
    nav{
        .custom-layout(center,center);
        width:80%;
        padding: 1%;
        height:75px;
        @media @tablet{
            width:100%;
            height:100%;
            position: relative;
            flex-direction:column;
            padding: 0;
        }
        @media @phone{
            width:100%;
            height:100%;
            position: relative;
            flex-direction:column;
            padding: 0;
        }
        .logo{
            .custom-layout(flex-start,center);
            width:50%;
            @media @tablet{
                width:100%;
                padding: 15px;
            }
            @media @phone{
                width:100%;
                padding: 15px;
            }
            h2{
                color:@white;
                font-size: 3.2rem;
            }
            a{
                .clean-anchor();
                padding:0;
            }
        }
        .links-wrapper{
            .custom-layout(flex-end,center);
            width:50%;
            .mobile-links{
                display:none;
            }
            .links{
                .custom-layout(space-evenly,center);
                width:100%;
                @media @tablet{
                    display:none;
                }
                @media @phone{
                    display:none;
                }
                a{
                    .clean-anchor();
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    color: @white;
                }
            
            }//links end
        }//links wrapper end
        .mobile-links{
            display:none;
            width:100%;
            background:@main-color;
        }
        a{
            @media @tablet{       
                    color: white;
                    padding: 26px 27px;
                    text-decoration: none;
                    font-size: 17px;
                    display: block;
                    &:hover{
                        background-color:black;
                    }
      
            }//media end
            @media @phone{       
                color: white;
                padding: 26px 27px;
                text-decoration: none;
                font-size: 17px;
                display: block;
  
        }//media end
        }//anchor end
        .icon{
            display:none;
            @media @tablet{
                background: black;
                display: block;
                position: absolute;
                right: 0;
                top:0;
            }
            @media @phone{
                background: black;
                display: block;
                position: absolute;
                right: 0;
                top:0;
            }
            &:hover{
                background-color: #ddd;
                color: black;
                }
            
        }//icon end
        
    }//nav end
}
.nav-colored{
    background-color:black;
}
.nav-transparent{
    background-color: transparent;
}
