//Colors

@main-color: #17252A;
@secondary-color: #2B7A78;
@tertiary-color: #3AAFA9;
@gray: #DEF2F1;
@silver: #aaa9ad;
@white: #FEFFFF; 


//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//Mobile and Tablet Media Sizes
@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px) and (min-width: 501px)';
@desktop: ~'(min-width: 1000px)';
